* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minecraft";
}
@font-face {
  font-family: "minecraft";
  src: url("../font/Minecraft.ttf");
}
body {
  display: flex;
  position: relative;
  letter-spacing: 0.5px;
  height: 100vh;
  width: 100vw;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.game-board {
  display: grid;
  max-width: 80vw;
  height: 100vmin;
  width: 100vmin;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}
.start-menu {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 80vw;
  display: flex;

  background: url("../images/bg-tile.gif");
}
.hidden {
  visibility: hidden;
}
.start-content-wrap {
  display: flex;

  height: 400px;
  width: auto;
}

.logo {
  width: 35vw;
}
.start-btn {
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 5px 8px 3px 8px;
  align-items: center;
  background-image: url("../images/croppedwall.jpg");
}

#main {
  position: relative;
  width: 80vw;
}
#aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: black;
}
.tool-wrap {
  display: flex;
  color: white;
  border: 2px white solid;
  margin-bottom: 15px;
  width: 100px;
  cursor: pointer;
}
.tool {
  height: 70px;
  width: 70px;
  background-position: center center;
  background-size: cover;
  color: white;
}

.tools-wrapper {
  transform: translateY(50%);
}

.inventory {
  height: 45px;
  width: 45px;
  border: 2px white solid;
}
.inventory-active {
  border: 2px solid greenyellow;
}
.inventory-alert {
  border: 2px solid red;
}
.active,
.tool-wrap:hover {
  border-color: transparent;
  background-color: blue;
}
.alert {
  background-color: red;
}
.pickaxe {
  background-image: url("../images/new-pickaxe.png");
}
.axe {
  background-image: url("../images/new-axe.png");
}
.shovel {
  background-image: url("../images/new-shovel.png");
}
select {
  margin-top: 15px;
}
.element {
  max-height: 100%;
  max-width: 100%;
  transform: scale(1);
}
.element:hover {
  transform: scale(0.97);
  transition: transform 0.2s ease-in-out;
  border: white 1px solid;
}
/* elements */
.dirt {
  background-image: url("../images/Dirt.png");
}
.grass {
  background-image: url("../images/Grass_Block.png");
}
.sky {
  background-color: skyblue;
}
.cloud {
  background-color: whitesmoke;
}
.rock {
  background-image: url("../images/Cobblestone.png");
}
.trunk {
  background-image: url("../images/Oak_Log.png");
}
.leaves {
  background-image: url("../images/Leaves.png");
}
/* themes */
.night {
  background-color: rgb(20, 20, 20);
}
.night-cloud {
  background-color: grey;
}
.sand {
  background-image: url("../images/sand.png");
}
.snow {
  background-image: url("../images/snow.png");
}

@media (max-width: 650px) {
  body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 80vh;
  }
  .start-menu {
    top: 15vh;
    height: 85vh;
    width: 100vw;
  }
  .game-board {
    padding: 0;
    margin: auto;
  }
  #aside {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tools-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
  }
  .tool-wrap {
    margin: 0 15px;
  }
  #main {
    width: 100vw;
    height: 80vh;
    display: flex;
    max-width: 100%;
  }
  select {
    margin-left: 15px;
  }
}
@media (max-width: 500px) {
  .tools-wrapper {
    flex-flow: wrap;
  }
  .tool-wrap {
    margin: 10px;
  }
  #aside {
    height: 30vh;
  }
  .inventory {
    margin: 10px;
  }
  .start-menu {
    height: calc(100vh - 283px);
    top: 283px;
  }
}
